h3 {
    font-size: 23px;
}

.show-content {
    padding: 0 30px;
}

.intr-font {
    font-size: 14px;
}

.show-card{
    margin-top: 25px;
}

.code-show{
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
}